#contact-info {
  font-size: .8em;

}

section.job {
  background-color: #e9e5dc;
  border-radius: 5px;
  border-bottom: 2px solid;
  margin-bottom: 5px;
  padding-bottom: 1px;
  padding-left: 10px;

}
.list {
  font-size: .8em;
}

#contact-info:hover {
  background-color: #F8F8F8;
}
.job li {
  font-style: italic;
}