
.image {
  position: relative;
  margin: 100px auto;
}

#octopus {
  position: absolute;
  margin-left: 40%;
  padding-top: 60px;
  left: 15px;
}

#glasses {
  position: absolute;
  margin-left: 40%;
  top: 160px;
  left: 55px;
  z-index: 1;
}

#hat {
  position: absolute;
  margin-left: 40%;
  z-index: 2;
}