
.image {
  position: relative;
  margin: 100px auto;
}

#octopus {
  margin-left: 40%;
  padding-top: 60px;
  padding-left: 10px;
  position: absolute;
}

#glasses {
  z-index: 1;
  position: absolute;
  margin-left: 40%;
  padding-top: 160px;
  padding-left: 49px;
}

#hat {
  z-index: 2;
  position: absolute;
  margin-left: 40%;
}